<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pokemon{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/icon/pokeball-ko.jpg') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    {% include '_navbar.html.twig' %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {% include '_footer.html.twig' %}
</footer>
</body>
</html>